@font-face {
    font-family: 'Kepler'; /* Nombre que darás a tu fuente */
    src: url('./assets/fonts/KeplerStd-BlackExtDisp.otf');
}

@font-face {
    font-family: 'sierraEc'; /* Nombre que darás a tu fuente */
    src: url('./assets/fonts/Rajdhani-Regular.ttf');
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%); /* Empieza fuera de la pantalla, a la derecha */
        opacity: 0; /* Empieza invisible */
    }
    100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Termina completamente visible */
    }
}

@keyframes fadeIn {
    0% {
        background-color: rgba(234,223,33,1); 
    }
    50% {
        background-color: rgba(234,223,33,1); 
    }
    100% {
        background-color: rgba(52,62,70,0.2); 
    }
}

@keyframes fadeInSierra {
    0% {
        background-color: rgba(52,62,70,1); 
    }
    50% {
        background-color: rgba(52,62,70,1); 
    }
    100% {
        background-color: rgba(52,62,70,0.4); 
    }
}

@keyframes fadeInImgs {
    from { opacity: 0; }
    to { opacity: 1; }
}

html {
    scroll-behavior: smooth;
}
/*Pagina Sierra Ec Inicio*/
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'sierraEc' !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kepler' !important;
}

/*header page*/
header {
    width: 100%;
    margin: 0px;
}

#banner {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Altura del banner (ajustar según necesidades) */
    background-color: #343e47;
    background-image: url('./assets/imgs/Banner-Principal_2.jpg'); /* URL de la imagen de fondo */
    background-size: cover;
    background-position:center;
    margin: 0px;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Color amarillo con opacidad */
    animation-name: fadeIn;
    animation-duration: 3s; /* Duración de la animación */
    animation-fill-mode: forwards;
}

.banner-content {
    position: relative; /* Para que los elementos se posicionen en relación al banner */
    z-index: 1; /* Coloca el contenido encima de la capa de opacidad */
    text-align: center;
    color: #fff; /* Color de texto blanco */
    padding: 50px; /* Espaciado interno del contenido */
}

nav {
    position: fixed;
    width: 80%;
    margin: auto;
    top: 0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 10px 1px rgba(148,148,148,1);
    z-index: 5;
}
.transparent-bg {
    background-color: #fff !important; /* Fondo transparente */
}

.logo-img {
    width: 100px; /* Tamaño de la imagen en la parte izquierda */
    height: auto;
    margin: 0px 30px; /* Espaciado entre la imagen y el texto */
}

.navbar-nav .nav-link {
    color: #343e47; /* Color de texto blanco */
    margin: 10px 5px;
    font-size: 18px;
}

.menuItem {
    margin-top: 2px;
    font-weight: bold;
}

.finalItem {
    margin-right: 50px;
}

.nav-link:hover {
    color: #eadf21 !important;
}

.navbar-nav .social-icons a.nav-link {
    background-color: transparent; /* Fondo transparente para iconos */
}

.icon {
    color: #f25b6b !important;
    font-size: 20px;
    margin-top: 5px !important;
}

.icon:hover {
    color: #eadf21 !important;
}

.navbar-nav .social-icons a.nav-link .bi {
    font-size: 1.5rem; /* Tamaño de iconos */
}

.btn-custom {
    background-color: transparent !important; /* Fondo transparente para botón */
    border: 2px solid #fff !important;
    color: #f25b6b !important; /* Color de texto blanco para botón */
    margin: 10px 10px;
    max-width: 170px !important;
    font-size: 20px !important;
}

.btn-custom:hover {
    border: 2px solid #f25b6b !important;
    color: #fff !important;
    background-color: #f25b6b !important;
}

/*Body Welcome amigo*/
#welcomeSecction {
    width: 50%;
    margin: 130px auto 30px auto;
}

#welcomeText {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    display: none;
    background-color: #343e47;
    border-radius: 20px;
    padding: 15px;
}

#welcome {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 12px rgba(52,62,70,1);
}

#reservaAhora {
    background-color: #f25b6b !important; /* Fondo transparente para botón */
    border: 2px solid #f25b6b !important;
    color: #fff !important; /* Color de texto blanco para botón */
    margin: 15px 10px;
    width: 160px;
    border-radius: 5px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
}

#reservaAhora:hover {
    border: 2px solid #fff !important;
    color: #f25b6b !important;
    background-color: #fff !important;
}

#pasos {
    width: 70%;
    margin: 60px auto 30px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #343e47;
    font-size: 20px;
    background-color: #343e47;
}

.mi-container {
    margin: 10px;
}

.mi-columna {
    padding: 10px;
    text-align: center;
}

#tresPasos {
    font-family: 'sierraEc' !important;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.paso {
    color: #fff;
}

.numbers {
    font-weight: bold;
    font-size: 25px;
    color: #f25b6b;
}

.icono {
    color: #f25b6b;
    font-size: 25px;
}

/*Seccion A donde ir*/
#aDondeIr {
    width: 70%;
    margin: 20px auto;
}

.imgCarusel {
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(148,148,148,1);
    width: 255px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Centrar imagen */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 60px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f25b6b !important;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: 30px;
}

.swiper-button-prev {
  left: 30px;
}

#adondeText {
    text-align: center;
    color: #343e47;
    font-size: 20px;
    margin-bottom: 0px;
}

#destinosTop {
    text-align: center;
    color: #f25b6b;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

#btnReservaAhora {
    min-width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    color: #343e47;
    border: 2px solid #343e47;
    font-size: 20px;
    margin: 30px auto;
    display: block;
    font-weight: bold;
}

#btnReservaAhora:hover {
    background-color: #f25b6b !important;
    border: 2px solid #f25b6b !important;
    color: #fff !important;
}

/*Somo sierra section*/

#somosSierra {
    background-color: #343e47;
    border-radius: 40% 40% 0px 0px;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 80px;
}

#iconosViajeEc {
    text-align: center;
    margin-bottom: 40px;
}

.custom-container {
    width: 80%;
    margin: 0 auto; /* Centrar el container horizontalmente */
}

.custom-item {
    padding: 10px;
    margin-bottom: 10px;
}

.somosIcon {
    color: #f25b6b;
    font-size: 30px;
    text-align: center;
}

#somosTextCont {
    margin-top: 50px;
}

/*Nuestros destinos*/
#nuestrosDestinos {
    width: 80%;
    margin: 0 auto;
}

#nuestrosDestinosText {
    font-weight: bold;
    font-size: 40px;
    color: #f25b6b;
    text-align: center;
    margin-bottom: 30px;
}

#subtituloNuestrosDestinos {
    text-align: center;
    font-size: 20px;
    color: #343e47;
    margin-bottom: 0px;
    margin-top: 30px;
}

#sanCristoContainer {
    width: 95%;
    padding: 0px;
    margin: 0px auto;
}

#santaCruzContainer {
    width: 95%;
    padding: 0px;
    margin: 0px auto;
    margin-top: 40px;
}

#cuyabenoContainer {
    width: 95%;
    padding: 0px;
    margin: 0px auto;
    margin-top: 40px;
}

.imgsDestinos {
    width: 90%;
    margin: 5px auto;
    box-shadow: 2px 2px 10px 2px rgba(148,148,148,1);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 4px solid #f25b6b;
    animation-name: fadeInImgs;
    animation-duration: 1.5s; /* Duración de la animación */
    animation-fill-mode: forwards;
}

.sanText {
    text-align: center; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonSanCristo {
    min-width: 170px;
    height: 40px;
    color: #343e47;
    border: 2px solid #343e47;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.botonSanCristo:hover {
    background-color: #f25b6b !important;
    border: 2px solid #f25b6b !important;
    color: #fff !important;
}

/*Cuatro Mundos section*/
#cuatroMundos {
    background-color: #343e47;
    border-radius: 10%;
    width: 100%;
    animation-duration: 1.5s; /* Duración de la animación */
    animation-fill-mode: forwards;
}

#cuatroMundosContainer {
    width: 80%;
    margin: 50px auto 0px auto;
}

#textContainer4Mundos {
    text-align: left;
}

#list4mundos {
    color: #fff;
}

.imgsMundos {
    border-radius: 10px;
    width: 100%;
    height: 290px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation-name: fadeInImgs;
    animation-duration: 1.5s; /* Duración de la animación */
    animation-fill-mode: forwards;
}

#imagenes4Mundos {
    padding-top: 40px;
    padding-bottom: 40px;
}

#btnExploralo {
    min-width: 170px;
    height: 40px;
    background-color: #f25b6b !important;
    border: 2px solid #f25b6b !important;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#btnExploralo:hover {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    color: #f25b6b !important;
}

/*Testimonios section*/
#testimonios {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 30px;
    background-color: #fff;
    border-radius: 20% 20% 0px 0px;
}

.textTestimonio {
    color: #343e47;
    text-align: center;
    font-size: 20px;
}

.cardTestimonio {
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px 2px rgba(148,148,148,1);
    padding: 20px;
}

.cardTestimonio:hover {
    box-shadow: 4px 4px 11px 4px rgba(148,148,148,1);
}

.imgsCard {
    width: 50%;
    margin: 10px auto;
    display: block;
}

/*Footer*/
footer {
    width: 100%;
    margin: 0px;
    background-color: #343e47;
    padding: 30px 20px 10px 20px;
    border-radius: 10% 10% 0px 0px;
}

.footerPart {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px 0px;
}

.tituloFooter {
    color: #f25b6b;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.textoSecFooter {
    color: #fff;
    font-size: 17px;
}

.iconFooter {
    color: #f25b6b;
    font-size: 25px;
}

.copyRight {
    text-align: center; 
    font-size: 20px; 
    color: #fff; 
    margin: 0px;
}

/*Pagina Sierra Full Ininicio*/
/*Banner Secction*/
#bannerSierra {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Altura del banner (ajustar según necesidades) */
    background-color: #343e47;
    background-image: url('./assets/imgs/imagenViajeFondo.jpg'); /* URL de la imagen de fondo */
    background-size: cover;
    background-position: bottom;
    margin: 0px;
}

#bannerSierra::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Color amarillo con opacidad */
    animation-name: fadeInSierra;
    animation-duration: 3s; /* Duración de la animación */
    animation-fill-mode: forwards;
}

.banner-contentSierra {
    position: relative; /* Para que los elementos se posicionen en relación al banner */
    z-index: 1; /* Coloca el contenido encima de la capa de opacidad */
    text-align: center;
    color: #fff; /* Color de texto blanco */
}

/*Body Secction*/
#welcomeSecctionSierra {
    width: 70%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomeTextSierra {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    text-shadow: 2px 2px 8px rgba(52,62,70,1);
    font-weight: bold;
}

#welcomeSierra {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 12px rgba(52,62,70,1);
    font-family: 'sierraEc' !important;
}

.cardTipoSierra {
    width: 80%;
    height: 435px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #343e47;
    border: 4px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textTipoSierra {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 30px 0px;
}

.btnSierraTipo {
    min-width: 90%;
    color: #fff;
    background-color: #f25b6b;
    border: 4px solid #f25b6b;
    height: 50px;
    border-radius: 20px;
    font-size: 21px;
    font-weight: bold;
}

.btnSierraTipo:hover {
    color: #f25b6b !important;
    background-color: #fff !important;
    border: 4px solid #fff !important;
}

@media (max-width: 1000px) {
    /*Pagina Sierra Ec Inicio*/
    /*Baneer*/
    .banner-content {
        padding: 15px;
    }

    #banner {
        min-height: 400px;
    }

    #bannerSierra {
        min-height: 400px;
    }

    /*Nav Section*/
    nav {
        width: 100%;
    }

    .nav-link {
        margin: 0px !important;
    }

    #hambuergesa {
        border: 2px solid #fff;
    }

    .finalItem {
        margin-right: 0px;
    }

    /*Welcome Section*/
    #pasos {
        display: none;
    }

    #welcome {
        font-size: 30px;
    }

    #welcomeText { 
        display: none;
    }

    #welcomeSecction { 
        width: 100%;
    }

    /*Destinos Top Section*/
    #destinosTop {
        font-size: 30px;
    }

    #somosSierra {
        border-radius: 100px 100px 0px 0px;
    }

    #somosTextCont {
        margin-top: 5px;
        text-align: center;
    }

    #nuestrosDestinos {
        width: 100%;
        margin: 0px;
    }

    #santaCruzContainer {
        width: 95%;
        margin: 5px auto;
        margin-top: 20px;
    }

    #sanCristoContainer {
        width: 95%;
        margin: 5px auto;
    }

    #cuyabenoContainer {
        width: 95%;
        margin: 5px auto;
        margin-top: 20px;
    }

    .sanText {
        margin-top: 5px;
    }

    .imgsDestinos {
        width: 100%;
    }

    /*Cuatro mundos section*/
    #cuatroMundos {
        border-radius: 70px;
    }

    #cuatroMundosContainer {
        width: 100%;
        margin: 50px auto;
    }

    #textContainer4Mundos {
        text-align: center;
        margin: 40px 0px;
    }

    #imagenes4Mundos {
        display: none;
    }

    #list4mundos {
        text-align: left;
    }

    /*Testimonios section*/
    #testimonios {
        width: 100%;
        padding-bottom: 20px;
    }

    .cardTestimonio {
        margin-bottom: 30px;
        width: 90%;
    } 

    /*Footer Section*/
    footer {
        border-radius: 30px 30px 0px 0px;
    }

    .footerPart {
        text-align: center;
    }

    /*Pagina Sierra Full Inicio*/
    /*Baneer*/
    #bannerSierra {
        min-height: 1300px;
        padding-top: 260px;
    }

    /*Body Secction*/
    #welcomeSecctionSierra {
        width: 98%;
    }

    #welcomeSierra {
        font-size: 30px;
    }

    #welcomeTextSierra {
        font-size: 17px;
    }

    .cardTipoSierra {
        width: 100%;
        margin-bottom: 30px;
    }
}
